{% load static %}

<!DOCTYPE html>
<html lang="ko" class="h-100">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <title>Cell Game</title>
  <link rel="icon" type="image/x-icon" href="{% static 'assets/favicon.ico' %}" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" crossorigin="anonymous">
</head>

<body class="d-flex flex-column h-100">
  <nav class="navbar navbar-expand navbar-dark bg-dark">
    <div class="container">
      <a class="navbar-brand" href="#">Cell Game</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link {% block nav_item_home %}{% endblock nav_item_home %}" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link {% block nav_item_menu1 %}{% endblock nav_item_menu1 %}" href="#">Menu1</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link {% block nav_item_menu2 %}{% endblock nav_item_menu2 %} dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Menu2
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="#">Option1</a></li>
              <li><a class="dropdown-item" href="#">Option2</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  {% block main %}{% endblock %}
  <footer class="footer mt-auto bg-dark">
    <div class="container px-3">
      <p class="m-0 text-center text-white"><a href="https://github.com/djangocellfront/cellfront" class="text-info">소스코드</a></p>
      <p class="m-1 text-center text-white">v0.0.1c</p>
    </div>
  </footer>

  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
</body>

<style>
  .navbar-brand {
    font-size: 16px;
    padding-top: 0px;
  }

  #content {
    max-width: 1000px;
    overflow: hidden;
  }
</style>

</html>