{% extends "web/base.html" %}
{% block main %}
<div class="container p-0" id="content">
  <div class="bg-light text-black text-center">
    <div class="row">
      <div class="col-4"></div>
      <div class="col-4">
        <p></p>
        <h3 class="font-weight-bold"><strong>Cell</strong></h3>
        <p>Text</p>
      </div>
      <div class="col-1"></div>
    </div>
  </div>
  <div class="text-center p-3 mw-100">
    <div class="row">
      <div class="col-4">
        <div class="card h-100">
          <div class="card-header">Card Head</div>
          <div class="card-body">
            <h5 class="card-title">Title</h5>
            <p class="card-text"><a class="font-weight-bold" href="" target="blank_">Link</a> Text</p>
            <a href="" class="btn btn-primary">Button</a>
          </div>
        </div>
      </div>
      <div class="col-4">
        <div class="card h-100">
          <div class="card-header">Card Head</div>
          <div class="card-body">
            <h5 class="card-title">Title</h5>
            <p class="card-text"><a class="font-weight-bold" href="" target="blank_">Link</a> Text</p>
            <a href="" class="btn btn-primary">Button</a>
          </div>
        </div>
      </div>
      <div class="col-4">
        <div class="card h-100">
          <div class="card-header">Card Head</div>
          <div class="card-body">
            <h5 class="card-title">Title</h5>
            <p class="card-text"><a class="font-weight-bold" href="" target="blank_">Link</a> Text</p>
            <a href="" class="btn btn-primary">Button</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
